*,*::before,*::after{
    margin: 0;
    border: 0;
    user-select: none;
}
body{
    background-color: #030d0a;
    color: #ddf8f0;
}
button{
    cursor: pointer;
}
body:not(header){
    margin-top: 80px;
}
div{
    margin: 0 auto;
}
li{
    list-style-type: none;
}
img{
    border-radius: 10px;
}
.main{
    width: 75vw;
    text-align: center;
    margin: 0 auto;
}
.image img{
    height: 350px;
}
.BaseCarrossel{
    margin: 0 auto;
    display: flex;
    width: 623px;
    height: 350px;
    overflow: hidden;
    z-index: -1;
}
.manual-navigation{
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 3px;
    margin: 0 33vw;
    position: absolute;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:hover{
    background-color: white;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .first{
    margin: 0;
    transition: ease-in-out 1s;
}
#radio2:checked ~ .first{
    transition: ease-in-out 1s;
    margin: -50%;
}
#radio3:checked ~ .first{
    transition: ease-in-out 1s;
    margin: -99.85%;
}
#radio4:checked ~ .first{
    transition: ease-in-out 1s;
    margin: -149.84%;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}

.BaseCarrossel input{
    display: none;
}
nav{
    background-color: #030d0a;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    right: 0;
}
nav img{
    height: 50px;
    padding-left: 5vw;
}
header nav{
    width: 100%;
    padding: 10px;
    margin: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
header ul{
    display: flex;
    list-style: none;
}
header li{
    padding: 0 1.5rem;
    list-style: none;
}
.conteudo{
    background-color: #1a1a1a;
    margin: 7% auto;
    border: 1px solid #888;
    border-radius: 10px;
    width: 25%; 
}
#modal{
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
  }
  .ModalLogin{
    display: flex;
    background-color: rgba(219, 29, 29, 0.4);
    
  }
.abas{
    display: flex;
}
#Cadastro,#Login{
    font-size: 30px;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    border: 3px solid white;
}
#Cadastro{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#Login{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.enviar{
    background-color: #4BC37F;
    padding: 5px 10px ;
    border-radius: 10px;
    width:70%;
    margin: 20px 0;
    color: white;
}
input{
    text-align: center;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    background-color: #0e0e0e;
    color: #FFF;
}
.loginTxt,.CadastroTxt{
    padding: 40px 0;
}
.txtMenu{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    margin: inherit 0;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: #030d0a;
}
.txtMenu:hover{
    transition: 0.2s ease-in-out;
    background-color: #222222;
}
#carrinho{
    display: none;
}
.cart{
    width: 30vw;
    min-height: 30vh;
    max-height: 70vh;
    background-color: rgb(19, 19, 19);
    position: fixed;
    right: 0;
    top: 70px;
    border-bottom-left-radius: 10px;
    outline: 3px solid white;
    overflow: auto;
}
.listaOnOff,#listaBotao{
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(139, 139, 139);
    margin: 5px;

}
.confirmacao{
    padding: 20px 10px;
}
/*Parte os jogos do meio da pagina*/
.listaOnOff{
    font-size: 2.5vw;
}
#listaBotao{
    border-radius: 5px;
}

#addCart{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4BC37F;
}
.jogoPromo{
    background-color: rgb(27, 27, 27);
    border: 2px solid #ddf8f0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    margin: 0 auto;
}
.jogoExpecifico{
    max-width: 200px;
    margin: 5px;
}
ul.produtoDesconto,ul.produto{
    margin-top: 50px ;
    display: flex;  
    max-width: 100vw; 
    padding-inline-start: 0px;
}
ul.produto{
    justify-content: center;
}
.footer{
    bottom: 0;
    margin-top: 10px;
    padding: 15px;
    position: bottom;
    text-align: center;
    max-width: 100vw;
    background-color: rgb(27, 27, 27);
}
strike{
    text-decoration-color: gray;
    color: gray;
    font-size:15px ;
}
.precosGerais{
    font-size: 35px;
    background-color: rgb(44, 44, 44);
    border-radius: 3px;
    padding: 5px;
    width: 10vw;
    margin-top: 5px;
}
.PrecosAntesDepois{
    font-size: 25px;
    margin-left: 3px;
    padding: 5px;
    display: inline-block;
    left: 0;
    outline: 1px solid greenyellow;
}
/*Parte das categorias dos jogos*/
.categoria{
    display: flex;
    margin-top: 30px;
}
.RPG,.FPS,.futebol,.terror{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    align-self: flex-end;
    font-size: 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.RPG{
    background: linear-gradient(180deg, rgba(51,61,0,0.5) 0%, rgba(119,121,9,0.5) 50%, rgba(255,241,0,0.5) 100%);
}
.RPG:hover{
    background: linear-gradient(180deg, rgba(51,61,0,0.8) 0%, rgba(119,121,9,0.8) 50%, rgba(255,241,0,0.8) 100%);
}
.FPS{
    background: linear-gradient(180deg, rgba(0,28,61,0.5) 0%, rgba(9,61,121,0.5) 50%, rgba(0,41,255,0.5) 100%);
}
.FPS:hover{
    background: linear-gradient(180deg, rgba(0,28,61,0.8) 0%, rgba(9,61,121,0.8) 50%, rgba(0,41,255,0.8) 100%);    
}
.futebol{
    background: linear-gradient(180deg, rgba(61,0,0,0.5) 0%, rgba(121,9,9,0.5) 50%, rgba(255,0,0,0.5) 100%);
}
.futebol:hover{
    background: linear-gradient(180deg, rgba(61,0,0,0.8) 0%, rgba(121,9,9,0.8) 50%, rgba(255,0,0,0.8) 100%);
}
.terror{
    background: linear-gradient(180deg, rgba(7,61,0,0.5) 0%, rgba(20,121,9,0.5) 50%, rgba(0,255,23,0.5) 100%);
}
.terror:hover{
    background: linear-gradient(180deg, rgba(7,61,0,0.8) 0%, rgba(20,121,9,0.8) 50%, rgba(0,255,23,0.8) 100%);
}

/* 
    background-color:rgb(194, 194, 194);