<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Calculadora</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <script src='vue.global.js'></script>
</head>
<body>
    <div id="app">
        <div id="calculadora">
            <div id="display" :style="{fontSize: tamanhoLetra}">
                {{display}}
            </div>
            <div id="btts">
                <button @click="btnum('7')">7</button>
                <button @click="btnum('8')">8</button>
                <button @click="btnum('9')">9</button>
                <button @click="btdelete()">AC</button>
                
                <button @click="btnum('4')">4</button>
                <button @click="btnum('5')">5</button>
                <button @click="btnum('6')">6</button>
                
                <button @click="btnum('1')">1</button>
                <button @click="btnum('2')">2</button>
                <button @click="btnum('3')">3</button>
                
                <button @click="btnum('0')">0</button>
                <button @click="btoperacao('+')">+</button>
                <button @click="btoperacao('-')">-</button>
                
                <button @click="btoperacao('*')">X</button>
                <button @click="btoperacao('/')">/</button>
                <button @click="btdec()">.</button>
                
                <button id="igual" @click="btoperacao('=')">=</button>
        </div>
    </div>  
</div>

<script src="JavaVue.js"></script>
</body>
</html>