body{
    color: rgb(252, 216, 183);
    background-color: #fff7ec;
    font-family: 'Nixie One';
    background-color: #1f1f1f;
}
button{ 
    color: white;
    text-align: center;
    font-family: 'Arial';
    font-size: 3vw;
    outline: 0;
    background-color: rgb(32, 32, 32);
    border: 2px solid rgb(20, 20, 20);
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}


#display{
    padding-bottom: 10%;
    padding-top: 10%;
    height: 10%;
    overflow: hidden ;
    background-color: rgb(26, 26, 26);
    border-radius: 8px;
    text-align: center;
    text-shadow:
    0 0 7px #ff9900,
    0 0 10px #ff9900,
    0 0 21px #ff8700,
    0 0 42px #ff8700,
    0 0 82px #ff9a00,
    0 0 92px #ff9a00,
    0 0 102px #ffaf00,
    0 0 151px #ffaf00;
}

#igual{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
}

#btts{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#calculadora{
    padding: 10px 10px;
    width: 33%;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(84, 84, 84);
    border-radius: 5px;
}
button:hover{
    background-color: rgb(18, 18, 18);
    border: 2px solid rgb(0, 0, 0);
    
}