body{
    background-color: rgb(37, 37, 37);
    color: white;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.55vw;
}
#main{
    margin-left: 15%;
    margin-right: 15%;
}
h1{
    text-align: center;
    background-color:rgb(62, 62, 62) ;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1.25%;
}
p{
    font-family: arial;
}
@media (max-width: 768px){
    
     #main{
        margin-left: 10%;
        margin-right: 10%;
     }
}