<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src="vue.global.js"></script>
    <title>Pagina de cadastro</title>
</head>
<body id="main">
    <header>
        <nav>
            <img src="Imagens\logo.png">
            <!--colocar a imagem e lembrar de quando clicar nela voltar pro home-->
            <ul>
                <li><button class="txtMenu" @click="gotoMain">Retornar</button></li>
                <li><button class="txtMenu" @click="modalOpen">login</button></a></li>
                <li><button class="txtMenu">nome de usuario</button></li>
                <li><div class="txtMenu" @click="cartOpen">Carrinho</div></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <button @click="ver_cadastrados" class="listaOnOff">
            {{estadoLista ? "Ocultar lista de usuarios" : "Revelar lista de usuarios"}}
        </button>
        <div id="listaDesordenada">
            <ul v-if="estadoLista">
                <li v-for="(email, index) in emailIndex">
                    {{index +1}}° Usuario: "{{email}}"
                    <button @click="excluirUsuario(email)" id="listaBotao">Excluir</button>
                </li>
            </ul>
        </div>
    </section>
    <script src="Processos.js"></script>
</body>
</html>