<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranigames - Main</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="vue.global.js"></script>
    <link rel='stylesheet' type='text/css' href='style.css'>
</head>
<body id="main">
    <header>
        <nav>
            <img @click="gotoMain" src="Media\logo.png">
            <!--colocar a imagem e lembrar de quando clicar nela voltar pro home-->
            <ul>
                <li v-if="userAdmin" @click="gotoAdmin"><button class="txtMenu">Área do Admin</button></li>
                <li><button class="txtMenu" @click="modalOpen('login')">login</button>/
                    <button class="txtMenu" @click="modalOpen('cadastro')">Cadastro</button></li>
                <li v-if="email"><button class="txtMenu">{{email}}</button></li>
                <li><button class="txtMenu" @click="cartOpen">Carrinho</button></li>
            </ul>
        </nav>
    </header>
    <input id="carrinho" type="checkbox">
    <div class="main">
        <div class="BaseCarrossel">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            
            <div class="image first">
                <img src="Midia\jogo1.png" alt="Final_Fantasy_XVI" class="imagem1">
            </div>
            <div class="image">
                <img src="Midia\jogo2.png" alt="Sea_Of_thives" class="imagem2">
            </div>
            <div class="image">
                <img src="Midia\jogo3.png" alt="Elden_Ring" class="imagem3">
            </div>
            <div class="image">
                <img src="Midia\jogo4.png" alt="Forza_Horizon_5" class="imagem4">
            </div>
            <div class="image">
                <img src="Midia\jogo5.png" alt="Tunic" class="imagem5">
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
        </div>

        <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
        <!--Parte do modal(parte que fica por cima da tela, tambem conhecido com login)-->
        <div id="modal" v-if="modalState">
            <div class="conteudo">
                <div class="abas" v-if="!mostrarConfirmacao">
                    <button @click="menuLogin" id="Login">Login</button>
                    <button @click="menuCadastro" id="Cadastro">Cadastro</button>
                </div>
                <div v-if="mostrarLogin" id="loginTxt">
                    <form>
                        <input type="email" v-model="email" id="btLogin1" required placeholder="Email"><br>
                        <input type="password" v-model="password" id="btLogin2" required placeholder="Senha"><br>
                        
                        <button type="submit" @click.prevent="login" class="enviar">Fazer Login</button>
                    </form>
                </div>
                <div v-if="mostrarCadastro" id="CadastroTxt">
                    <form>
                        <input type="email" v-model="emailCad" id="btCadastra1" maxlength="40" required placeholder="Email"><br>
                        <input type="password" v-model="passwordCad" id="btCadastra2" maxlength="40" required placeholder="Senha"><br>
                        <input type="password" v-model="passwordCadConfirm" id="btCadastra3" maxlength="40" required placeholder="Confirme sua Senha"><br>
        
                        <button type="submit" @click.prevent="adicionarUsuario" class="enviar">Fazer Cadastro</button>                        
                    </form>
                </div>
                <div v-if="mostrarConfirmacao" class="confirmacao">
                    Infelizmente nossos servidores estao fora do ar no momento, por favor tente mais tarde<br>
                    <button class="enviar" @click="modalOpen">Fechar</button>
                </div>
            </div>
        </div>
        <!--Parte do carrinho-->
        <div class="cart" v-if="cartState">
            <h2>Carrinho de compras</h2><br>
            
            <ul id="produtos" v-if="cart.length > 0">
                <li v-for="product in cart">
                    <img :src="product.image" :alt="product.name" width="200">
                    <strong>{{product.name}}<br>
                        R$ {{(product.price * product.amount).toFixed(2)}}</strong>
                    <p>{{product.amount}}</p> 
                    <button class="enviar" @click="removeFromCart(product)">Remover produto</button>
                </li>
                <li id="carrinho" v-for="item in cart">
                    {{item.name}} - R${{item.price}}<br>
                </li>
                <button class="enviar" @click="modalOpen('confirm')">Prosseguir com o Pagamento</button>
            </ul>

        </div>
        <!--Alguns genros e exemplos de jogos-->
        <section id="Desconto">
            <ul class="produtoDesconto">
                <li v-for="product in jogosFPS" class="jogoPromo">
                    <img :src="product.image" :alt="product.name" width="200"><br>
                    <strong>{{product.name}}</strong><br>
                    <div class="precosGerais">
                        -{{product.desconto*100}}%
                        <div class="PrecosAntesDepois"><strike>R${{(product.price / product.desconto).toFixed(2)}}</strike><br>
                        R${{product.price}}</div> 
                    </div>
                    <button id="addCart" @click="addToCart(product)">Adicionar ao carrinho</button>
                </li>
            </ul>
        </section>
    
        <div class="categoria">
            <a class="RPG" href="#RPG">RPG</a><br>
            <a class="FPS" href="#FPS">FPS</a><br>
            <a class="futebol" href="#futebol">Futebol</a><br>
            <a class="terror" href="#terror">Terror</a>
        </div>

        <section id="RPG">
            <ul class="produto">
                <li v-for="product in jogosRPG" class="jogoExpecifico">
                    <img :src="product.image" :alt="product.name" width="200"><br>
                    <strong>{{product.name}}</strong><br>
                    R${{product.price}}<br>
                    <button id="addCart" @click="addToCart(product)">Adicionar ao carrinho</button>
                </li>
            </ul>
        </section>

        <section id="FPS">
            <ul class="produto">
                <li v-for="product in jogosFPS" class="jogoExpecifico">
                    <img :src="product.image" :alt="product.name" width="200"><br>
                    <strong>{{product.name}}</strong><br>
                    R${{product.price}}<br>
                    <button id="addCart" @click="addToCart(product)">Adicionar ao carrinho</button>
                </li>
            </ul>
        </section>

        <section id="futebol">
            <ul class="produto">
                <li v-for="product in jogosFutebol" class="jogoExpecifico">
                    <img :src="product.image" :alt="product.name" width="200"><br>
                    <strong>{{product.name}}</strong><br>
                    R${{product.price}}<br>
                    <button id="addCart" @click="addToCart(product)">Adicionar ao carrinho</button>
                </li>
            </ul>
        </section>

        <section id="terror">
            <ul class="produto">
                <li v-for="product in jogosTerror" class="jogoExpecifico">
                    <img :src="product.image" :alt="product.name" width="200"><br>
                    <strong>{{product.name}}</strong><br>
                    R${{product.price}}<br>
                    <button id="addCart" @click="addToCart(product)">Adicionar ao carrinho</button>
                </li>
            </ul>
        </section>
    </div>
    <footer>
        <div class="footer">Copyright © 2023 - Todos os Direitos Reservados - Ranigames™</div>
    </footer>
    <script src="Processos.js"></script>
</body>
</html>
<!--https://realtimecolors.com/?colors=ddf8f0-030d0a-4bc37f-ecf9f8-2d0ca7
vai ter q usar o hamburger pro carrinho
https://imgur.com/1vC77xu
-->