<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src="vue.global.js"></script>
    <title>Pagina de cadastro</title>
</head>
<body>
    <div id="app">
        <div id="entradas">
            <h1>Crie sua Conta</h1>
            <p v-if="error" class="error">{{error}}</p>
            <form>
                <input type="text" v-model="usernameCad" id="bt1" maxlength="40" required placeholder="Insira seu Nome de Usuario"><br>
                <input type="password" v-model="passwordCad" id="bt2" maxlength="40" required placeholder="Insira Sua Senha"><br>
                <input type="password" v-model="passwordCadConfirm" id="bt3" maxlength="40" required placeholder="Confirme sua Senha"><br>

                <button type="submit" @click.prevent="adicionarUsuario">Criar Conta</button>
                <button id="voltar" @click="voltar">Voltar</button>
                
            </form>
            <button @click="ver_cadastrados">
                {{estadoLista ? "Ocultar lista de usuarios" : "Revelar lista de usuarios"}}
            </button>

            <div id="listaDesordenada">
                <ul v-if="estadoLista">
                    <li v-for="(usuario, index) in usuarios">
                        {{index +1}} usuario: "{{usuario}}","{{senhas[index]}}"
                        <button @click="excluirUsuario(usuario)" id="listaBotao">Excluir</button>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <script src="Processos.js"></script>
</body>
</html>