<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src="vue.global.js"></script>
    <title>Site de login</title>
</head>
<body>
    <div id="app">
        <div id="entradas">
            <h1>Faça Login</h1>
            <p v-if="error" class="error">{{error}}</p>
            <form>
                <input type="text" v-model="username" id="bt1" required placeholder="Insira seu Nome de Usuario"><br>
                <input type="password" v-model="password" id="bt2" required placeholder="Insira Sua Senha"><br>
            </form>
            
            <button type="submit" @click.prevent="login">Entrar</button>
            <button href="">Calculadora</button>
            <button id="cadastroADM" @click="Cadastro">Cadastrar usuario</button>
        </div>
    </div>
    <script src="Processos.js"></script>
</body>
</html>