:root {
  --main: #8877df;
  --accent: #c377df; 
  --textColor: #ebe6f9;
}
/* tags universais para facilitar a vida */
h1{
    margin-top: 0;
    background: radial-gradient(var(--main), var(--textColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    background-color:#0c071d;
    font-size: 1.70vw;
    color: var(--main);
    padding: 12%;
    transition: 0.3s;
    user-select: none;
}
#entradas{
    box-shadow: 0 0 10px var(--accent);
    text-align: center;
    background-color: #171328;
    width: 60vw;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 1vw;
    padding-top: 1vw;
    transition: 0.3s;
}
::placeholder {
    text-align: center; 
    font-size: 1vw;
 }
 ::selection {
    color: #880092;
    background: var(--accent);
  }
input{
    margin: 5px;
    width: 20vw;
    height: 1.5vw;
    background-color: transparent;
    outline: none;
    color: var(--textColor);
    border-color: var(--main);
    border-width: 1.80px;
    border-radius: 5px;
    border-style: solid;
}
input:focus {
    background-color: var(--main);
    border-radius: 5px;
}
input:focus::placeholder{
    color: transparent;
}
.error{
    color: red;
    transition: 1s;
}
button{
    margin: 5px;
    color: var(--textColor);
    width: 6.5vw;
    height: 3vw;
    cursor: pointer;
    outline: none;
    font-size: 1vw;
    border-color: transparent;
    border-style: solid;
    border-radius: 7px;
    background-color:var(--main);
    transition: 0.3s;
}
#cadastroADM{
    display:none;
    position: relative;
    top: -1.2vh;
}
button:hover{
    background-color: var(--accent);
    transition: 0.3s;
}
li{
  margin-top: 30px;
  list-style-type: none;
}
#listaBotao{
  float: right;
  z-index: 10;
}
#listaDesordenada{
  text-align: left;
  display: flex;
  justify-content: space-between;
}

/*--------------------------------------------------------

#first_button: {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
/*