<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Calçados</title>
    <script src="vue.global.js"></script>
    <link rel='stylesheet' type='text/css' href='Style.css'>
</head>
<body>
    <div id="app">
        <header>
            <nav>
                <h2>Loja de Calçados</h2>
            </nav>
        </header>
        <div id="main">
            <Ul>
                <li v-for="product in products">
                    <div id="produto">
                        <a :href="'#/product/' + product.id">
                            <img :src="product.image" :alt="product.name" width="200"><br>
                            <span>{{product.name}}</span>
                        </a>
                    </div>
                </li>
            </Ul>
        </div>
        <div>
            <h2>{{currentProduct.name}}</h2>
            <p>{{currentProduct.description}}</p>
            <p>De <s>R${{currentProduct.price + 50.1}}</s> por apenas R${{currentProduct.price}}</p>
            <button :disabled="!currentProduct" id="addCart" @click="addToCart(currentProduct)">Adicionar ao carrinho</button>
        </div>
        <div>
            <h3>Carrinho de Compras</h3>
            Um total de <strong>{{cartItemCount}}</strong> items por Apenas: <strong id="preco">R$ {{cartTotal.toFixed(2)}}</strong>
            <ul id="produtos" v-if="cart.length > 0">
                <li id="carrinho" v-for="item in cart">
                    {{item.name}} - R${{item.price}}<br>
                </li>
            </ul>
            <div v-if="cart.length">
                <h2>Checkout</h2>
                <ul>
                    <li v-for="product in cart">
                        <img :src="product.image" :alt="product.name" width="200">
                        <strong>{{product.name}} - R$ {{product.price}} - Quantidade</strong>
                        <p>{{product.description}}</p>
                        <button @click="removeFromCart(product)">Remover produto</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="Process.js"></script>
</html>