body{
    background-color: transparent;
}
img{
    background-color: #f2f2f2;
    border-radius: 20px;
    display: grid;
    transition: 0.2s;
    }
img:hover{
    transform: scale(1.05);
    background-color: #e2e2e2;
}
ul {
    flex-direction: column;    
}
li {
    display: inline-block;
    vertical-align: top;
    margin: 0.3vw;
    text-align: center;
}
li#produtos{
    width: 2vw;
    text-align: center;
}
#produto{
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 20px;
}
s{
    color: red;
}
a{
    text-decoration: none;
    font-size: 1.5vw;
}
a:focus{
    color:#b640ff;
}
nav{
    height: 50px;
    overflow: hidden;
}
button{
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s;
}
button:hover{
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s;

}
button#addCart{
    background-color: #8fb4ff;
    border: 2px solid #7fa4ef;
}
button#addCart:hover{
    background-color: #7fa4ef;
    border: 2px solid #6f94df;
}
strong#preco{
    color: red;
}