*,*::before,*::after{
    padding: 0;
    margin: 0;
}
nav{
    justify-content: space-between;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
    background-color: #111111;
    padding: 20px;
}
nav ul,li{
    padding: 0 100px;
    display: inline;
    text-decoration: none;
}
nav,nav ul li a{
    color: white;
}
ul#imagens{
    display: grid;
    grid-template-columns: 30% 30%;
    padding: 20px;
}
ul#imagens li{ 
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    list-style: none;
}
li img{
    width: 300px;
}
#home{
    border-bottom: 10px;
}
img{
    border-radius: 7px;
}

footer{
    background-color: #111111;
}
