*,*::after,*::before{
    padding: 0;
    margin: 0;
}
#hamburger{
    display: none;
} 
.menuBotao{
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    margin: 30px;
    cursor: pointer;
}
.menuBotao:hover .hamburgerStyle,.menuBotao:hover .hamburgerStyle::after,.menuBotao:hover .hamburgerStyle::before{
    background-color: lime;
    transition: 1s ease-in-out;
}
.menuBotao:not(:hover) .hamburgerStyle,.menuBotao:not(:hover) .hamburgerStyle::after,.menuBotao:not(:hover) .hamburgerStyle::before{
    transition: 1s ease-in-out;
}
.hamburgerStyle,.hamburgerStyle::after,.hamburgerStyle::before{
    content: "";
    display: block;
    background-color: rgb(32, 32, 32);
    height: 3px;
    width: 100%;
    border-radius: 1.5px;
    position: absolute;  
}
.menuBotao:hover .hamburgerStyle{
    rotate: 90deg;
}

.hamburgerStyle::after{
    bottom: 8px;
}
.hamburgerStyle::before{
    top: 8px;
}
.menu{
    list-style: none;
    background-color: rgb(233, 233, 233);
    position: fixed;
    left: 30px;
    width: auto;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}
.menu.open{
    max-height: 100px;
    transition: max-height 0.5s ease-in-out;
}