body{
    background-color: #FFF8F8;
    width:100%;
    
}

a{
    text-decoration: none;
}

button{
    border-radius: 10px;   
    font-size: 30px;
    color: white;
    width:  150px;
    height: 50px;
}

button:hover{
    cursor: pointer;

}
a:hover{
    cursor: default;
}   

#Header{
    background-color: #D9D9D9;
    margin:auto;
    margin-top: -25px;
    border-bottom-left-radius:  50px;
    border-bottom-right-radius: 50px;
    font-family: Kanit;
    text-align: center;
    width: 70%;
    height: 10%;
    font-size: 6vw; /* vw= View Window */
}
#Redes{
    margin-top:10%;
    text-align: center;
}

#Facebook{
    background-color: #1877F2;
    font-family: Kanit;
    margin-right: 10%;
}


#Instagram{
    background-image: linear-gradient(45deg, rgba(144, 0, 220), rgba(243, 30, 138, 1), rgba(254, 217, 23, 1) );
    font-family:Jost;
    
}

#Twitter{
    background-color: #55ACEF;
    font-family:Short Stack ;
    letter-spacing: -3px;
    margin-left: 10%;
}

#Twitter:hover{
    background-image: url('https://pbs.twimg.com/profile_images/1488548719062654976/u6qfBBkF_400x400.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
}